<footer>
  <div class="footer-columns">
    <div class="footer-column">
      <h3>О нас</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="footer-column">
      <!-- Можно добавить ссылки или меню -->
    </div>
    <div class="footer-column">
      <h3>Контакты</h3>
      <p>Email: info@myshop.com</p>
      <p>Телефон: +1 234 567 890</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
