<footer>
    <div class="footer-columns">
      <div class="footer-column">
        <h3>О нас</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="footer-column">
        <h3>Каталог</h3>
        <ul>
          <li><a href="#">Категория 1</a></li>
          <li><a href="#">Категория 2</a></li>
          <li><a href="#">Категория 3</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Контакты</h3>
        <p>Email: info@myshop.com</p>
        <p>Телефон: +1 234 567 890</p>
      </div>
    </div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
